@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black-color: #282c34;
  --ash-color: #707793;
  --off-white-color: ##f8f8f8;
  --green-color: #3bb99b;
  --white-color: #ffffff;
  --gray-color: #707070;
}
.container {
  margin: 0 auto;
  max-width: 1140px;
}

/* Navbar-section */
header {
  background: var(--black-color);
  height: 92.2vh;
}
header .desktop-nav {
  padding: 0.8rem 0;
  display: flex;
  justify-content: space-between;
}

header .desktop-nav ul {
  padding: 0 0.8rem;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
header .desktop-nav ul:last-child {
  justify-content: flex-end;
}
header .desktop-nav li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--white-color);
}

/* Content */
.main-content {
  /* width: 52rem; */
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.main-content .content {
  padding: 150px 250px;
  width: 100%;
}
.main-content .content h2 {
  color: var(--white-color);
  text-align: center;

  /* overflow: hidden; */
  font-size: 9vw;
  font-weight: 40;
  font-family: "Popins", sans-serif;
  text-transform: uppercase;
}
.main-content .content h2 span {
  color: var(--green-color);
}

.main-content .content input {
  /* background: var(--gray-color); */
  width: 100%;
  position: relative;
  border-radius: 1.5rem;
  border: none;
  height: 2.5rem;
}

/* I IWll  */
.main-content .content img {
  /* position: sticky; */
  position: absolute;
  left: 25.8rem;
}

.main-content .content .btn-group {
  padding-top: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 58px;
}

.main-content .content a.btn {
  border-radius: 5px;
  padding: 1.2rem 2.6rem;
  color: var(--ash-color);
  background-color: var(--white-color);
  text-decoration: none;
}

/* WOrking on Footer */
footer {
  background: var(--ash-color);
}
footer .footer-container {
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  /* align-items: center   ; */
}

footer .footer-container ul {
  list-style: none;
  display: flex;
  gap: 26px;
}

footer .footer-container ul li a {
  text-decoration: none;
  color: var(--white-color);
  list-style: none;
}
